<!-- Footer -->

    <div id="ya_rtb_1" hidden>
        <div id="yandex_rtb_R-A-2104703-1"></div>
        <script>window.yaContextCb.push(()=>{
          Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-2104703-1',
            blockId: 'R-A-2104703-1'
          })
        })</script>
    </div>

    <div id="ya_rtb_4" hidden style="min-height: 90px; max-height: 90px; position: fixed; bottom: 0; width: 100%;">
            <!-- Yandex.RTB R-A-2104703-4 -->
            <div id="yandex_rtb_R-A-2104703-4"></div>
            <script>window.yaContextCb.push(()=>{
              Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-2104703-4',
                blockId: 'R-A-2104703-4'
              })
            })</script>
    </div>

    <footer class="footer">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-sm-12">
                        <!-- Widget Nav Menu -->
                        <div class="widget widget_nav_menu">
                            <h4 class="widget_title">Доступные материалы</h4>
                            <div class="footer-list-wrap">
                                <ul>
                                    <li><a href="/prufungen/">Официальные примеры экзаменов Goethe</a></li>
                                    <li><a href="/briefs/">Примеры писем по темам</a></li>
                                    <li><a href="/sprechen/">Говорение</a></li>
                                    <li><a href="/horen/">Примеры тестов (Аудирование)</a></li>
                                    <li><a href="/lesen/">Примеры тестов (Чтение)</a></li>
                                </ul>
                                <ul>
                                    <li><a href="/quiz/words/">Изучение слов</a></li>
                                    <li><a href="/links/">Полезные ссылки</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Widget Nav Menu -->
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <!-- Widget Newsletter -->
                        <div class="widget widget_newsletter">
                            <h4 class="widget_title">Подписаться</h4>
                            <form  method="POST" action="/subscribe/" class="newslatter-form">
                                {% csrf_token %}
                                <div class="theme-input-group">
                                    <input name="email" class="form-control" type="email" placeholder="Ваша электронная почта">
                                    <button type="submit" class="submit-btn btn"><img src="/static/img/icons/mail.svg"
                                            alt="" class="svg"> Подписаться</button>
                                </div>
                            </form>
                        </div>
                        <!-- End Widget Newsletter -->
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <!-- Widget About -->
                        <div class="widget text-center text-white widget_about">
                            <img src="/static/img/logo_min.svg" alt="" class="svg footer-logo">
                            <p>Более 100+ заданий</p>
                            <p>Для подготовки к Deutsch A1</p>
                        </div>
                        <!-- End Widget About -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- CopyRight Content -->
                        <div class="copyright-content title-color text-center">
                            © 2021 - <span class="currentYear">2023</span> <a
                                href="https://www.themelooks.com/">Themelooks</a> Networks, Inc. All Right
                            Reserved.
                        </div>
                        <!-- End CopyRight Content -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Back to Top Button -->
    <a href="#" class="back-to-top">
        <i class="fas fa-long-arrow-alt-up"></i>
    </a>
    <!-- End Back to Top Button -->


    <!-- ======= jQuery Library ======= -->
    <script src="/static/js/jquery.min.js"></script>

    <!-- ======= Bootstrap Bundle JS ======= -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <!-- ======= Particles JS ======= -->
    <script src="/static/plugins/particles/particles.min.js"></script>

    <!-- ======= Menu JS ======= -->
    <script src=" /static/js/menu.min.js"></script>

    <!-- ======= Swiper JS ======= -->
    <script src="/static/plugins/swiper/swiper-bundle.min.js"></script>

    <!-- ======= Magnific Popup JS ======= -->
    <script src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- ======= Countdown JS ======= -->
    <script src="/static/plugins/countdown/countdown.min.js"></script>

    <!-- ======= Nice select JS ======= -->
    <script src="/static/plugins/nice-select/jquery.nice-select.min.js"></script>

    <!-- ======= Isotope JS ======= -->
    <script src="/static/plugins/Isotope/isotope.pkgd.js"></script>

    <!-- ======= Wayoints JS ======= -->
    <script src="/static/plugins/counterup/waypoints.min.js"></script>

    <!-- ======= CounterUp JS ======= -->
    <script src="/static/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- ======= Main JS ======= -->
    <script src="/static/js/main.js"></script>

    <!-- ======= Custom JS ======= -->
    <script src="/static/js/custom.js"></script>

