<header class="header">
        <!-- Header Main -->
        <div class="header-main love-sticky fixed-top">
            <div class="container">
                <div class="header-inner position-relative">
                    <div class="row align-items-center m-1">
                        <div class="col-lg-4 col-md-6 col-sm-9 col-6">
                            <div class="d-flex align-items-center">
                                <!-- Start Logo -->
                                <div class="logo">
                                    <a href="/">
                                        <img src="/static/img/logo.png" class="main-logo" alt="">
                                    </a>
                                </div>
                                <!-- End of Logo -->
                            </div>
                        </div>

                        <div
                            class="col-lg-8 col-md-6 col-sm-3 col-6 d-flex align-items-center justify-content-end position-static">
                            <div class="nav-wrapper d-flex align-items-center">
                                <div class="nav-wrap-inner">
                                    <!-- Nav -->
                                    <ul class="nav">
                                        <li class="current-menu-parent">
                                            <a href="#">Разделы</a>
                                            <ul class="sub-menu">
                                                <li><a href="/prufungen/">Примеры экзаменов</a></li>
                                                <li><a href="/briefs/">Письмо</a></li>
                                                <li><a href="/sprechen/">Говорение</a></li>
                                                <li><a href="/horen/">Аудирование</a></li>
                                                <li><a href="/lesen/">Чтение</a></li>
                                                <li><a href="/wortschatz/">Лексика</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/quiz/words/">Изучение слов</a></li>
                                        <li><a href="/links/">Полезные ссылки</a></li>

                                    </ul>
                                    <!-- End Nav -->
                                </div>

                                <div class="d-none d-md-flex align-items-center ms-4">

                                    {% if user.is_active %}
                                        <div class="dropdown ml-10">
                                            <a href="#" class="user-avatar dropdown-toggle" data-bs-toggle="dropdown">
                                                <img src="/static/img/media/user.png" alt="">
                                                <span class="user-status">
                                                    <img src="/static/img/icons/check.svg" class="svg" alt="">
                                                </span>
                                            </a>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/accounts/profile">Профиль</a></li>
                                                <li><a class="dropdown-item" href="/accounts/logout">Выйти</a></li>
                                            </ul>
                                        </div>
                                    {% else %}
                                        <a href="/accounts/login/" class="btn">
                                            <img src="/static/img/icons/create-icon.svg" alt="" class="svg">
                                            Регистрация
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Main -->
    </header>