<head>
    <!-- Page Title -->
    <title>Anefty || NFT Marketplace HTML5 Template</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content=
      "Тесты немецкий а1 - подготовка к экзамену Start-deutsch A1, {{head}}">
    <meta name="keywords" content="{{keywords}}, немецкий а1, немецкий, а1, a1, deutsch, start deutsch, тест, тест немецкий">
    <title>
        {% if title %} {{title}} {% else %} Start-deutsch A1 {% endif %}
    </title>

    {% if canonical %}
        <link rel="canonical" href="{{canonical}}">
    {% endif %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png" />

    <!-- Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend:wght@500;600;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- ======= FontAwesome ======= -->
    <link rel="stylesheet" href="/static/css/all.min.css" />

    <!-- ======= Bootstrap ======= -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />

    <!-- ======= Swiper Bundle ======= -->
    <link rel="stylesheet" href="/static/plugins/swiper/swiper-bundle.min.css" />

    <!-- ======= Magnific Popup ======= -->
    <link rel="stylesheet" href="/static/plugins/magnific-popup/magnific-popup.css" />

    <!-- ======= Main Stylesheet ======= -->
    <link rel="stylesheet" href="/static/css/style.css" />

    <!-- ======= Custom Stylesheet ======= -->
    <link rel="stylesheet" href="/static/css/custom.css" />

    <meta name="yandex-verification" content="c02c069565f8973a" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HVYZBBTKFL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HVYZBBTKFL');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(88710367, "init", {
           clickmap:true,
           trackLinks:true,
           accurateTrackBounce:true,
           webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/88710367" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Yandex.RTB -->
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
    <!-- /Yandex.RTB -->

</head>
