{% load static %}
{% load home_extras %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="light-ui">

    <!-- Header -->
    {% include 'includes/header.html' %}
    <!-- End Header -->

    <!-- Top Collection -->
    <section class="pt-120 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>Все материалы</h2>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>
            <div class="row">
                {% for o in articles %}
                    <div class="col-xl-3 col-lg-4 col-sm-6 mt-3">
                        <!-- Collection -->
                        <a href="{{ o.url }}" class="single-collection" data-count="01">
                            <div class="collection-img">
                                <img src="{{o.category.image}}" style="width: 39px">
                            </div>
                            <div class="content">
                                <h5>{{o.name}}</h5>
                                <span>{{o.date|naturalday}}</span>
                            </div>
                        </a>
                        <!-- End Collection -->
                    </div>
                {%endfor%}
                <div class="col-xl-3 col-lg-4 col-sm-6 mt-3">
                        <!-- Collection -->
                        <a href="/articles/" class="single-collection" data-count="01">
                            <div class="collection-img">
                                <img src="/static/img/media/deutsch/next.png" style="width: 39px">
                            </div>
                            <div class="content">
                                <h5>Все материалы</h5>
                            </div>
                        </a>
                        <!-- End Collection -->
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {% include "includes/footer.html" %}

</body>

</html>