{% load static %}
{% load home_extras %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="light-ui">

    <!-- Header -->
    {% include 'includes/header.html' %}
    <!-- End Header -->

    <!-- Author -->
    <div class="author-area">
        <div class="author-cover" data-bg-img="/static/img/bg/{{ category.url }}.png">

            <div class="container d-flex h-100 align-items-center mt-3 pt-3">
                <div class="row w-100">
                    <div class="col-12 col-md-4">

                    </div>
                    <div class="col-12 col-md-8">
                        <!-- Banner Content -->
                        <div class="banner-content mb-5 mb-lg-0" style="text-align: end">
                            <h5></h5>
                            <h1 style="color: #2d3753">{{ category.name }}</h1>
                            <p style="color: #2d3753">{{ category.description}}</p>
                        </div>
                        <!-- End Banner Content -->
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- End Author -->

    <!-- Blog -->
    <section class="pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        {% for article in articles %}

                        <div class="col-xl-4 col-lg-6 col-sm-6 mt-3">
                            <!-- Collection -->
                            <a href="{{ article.url }}" class="single-collection" data-count="01" style="background: linear-gradient(45deg, #007bff 0%, #00FFAB 100%);">
                                <div class="content">
                                    <h5>{{article.name}}</h5>
                                    <p>{{ article.description|cut_text  }}</p>
                                    <span>{{article.date|naturalday}}</span>
                                </div>
                            </a>
                            <!-- End Collection -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Blog Sidebar -->
                    <div class="blog-sidebar mt-5 mt-lg-0">
                        <!-- Widget Advertise -->
                        <div class="widget widget_advertise">
                            <!-- Yandex.RTB R-A-2104703-3 -->
                            <div id="yandex_rtb_R-A-2104703-3"></div>
                            <script>window.yaContextCb.push(()=>{
                              Ya.Context.AdvManager.render({
                                renderTo: 'yandex_rtb_R-A-2104703-3',
                                blockId: 'R-A-2104703-3'
                              })
                            })</script>
                            <!-- /Yandex.RTB R-A-2104703-3 -->
                        </div>
                        <!-- End Widget Advertise -->

                        <!-- Widget Categories -->
                        <div class="widget widget_categories">
                            <h3 class="widget widget-title">Разделы</h3>

                            <ul>
                                {% for i in categories %}
                                    <li><a href="/{{ i.url }}">{{ i.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- End Widget Categories -->

                    </div>
                    <!-- End Blog Sidebar -->
                </div>

                <!--<div class="col-lg-12 d-flex justify-content-center mt-30">
                    <a href="#" class="btn"><img src="assets/img/icons/btn-loadmore.svg" alt="" class="svg">
                        Load More
                    </a>
                </div>-->
            </div>
        </div>
    </section>
    <!-- End Blog -->

    <!-- Footer -->
    {% include "includes/footer.html" %}

</body>

</html>