{% load static %}
{% load home_extras %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="light-ui">

    <!-- Header -->
    {% include 'includes/header.html' %}
    <!-- End Header -->

    <!-- Main -->
    <div class="banner style--two ov-hidden d-flex align-items-center justify-content-center" style="min-height: 100vh">
        <div id="particles" class="bg-img" style="background-image: url(static/img/bg/bg-design-shape.png); background-position: bottom;"><canvas class="particles-js-canvas-el" width="1669" height="1711" style="width: 100%; height: 100%;"></canvas></div>

        <div class="container mt-3">
            <div class="row section-title text-center text-white main_text mb-3 p-3" style="padding: 5px; margin:0px">
                            <h5>Более 100+ заданий</h5>
                            <h3>Для подготовки к Deutsch A1</h3>
                            <p>Предложенные материалы покрывают 99% экзамена</p>
            </div>
            <div class="row">
                <div class="col col-12 col-md-12 col-lg-8">
                        <div class="row">
                            <div class="col col-6 col-md-4">
                                <a href="/quiz/words">
                                    <div class="single-product style--three">
                                        <div class="product-img">
                                            <img src="/static/img/media/deutsch/croco.png" alt="">
                                        </div>

                                        <!-- Product Content -->
                                        <div class="product-content">
                                            <!-- Owners -->
                                            <div class="owners">
                                                <div class="justify-content-center start-label">
                                                    <p style="padding: 7px 10px; display: block; margin: 0; color: white; font-weight: bold">
                                                        wörter lernen
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- End Owners -->
                                            <div class="product-top">
                                                <div class="content">
                                                    <h5>Проверка словарного запаса</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Product Content -->
                                    </div>
                                </a>
                            </div>
                            <div class="col col-6 col-md-4">
                                <a href="/horen/">
                                    <div class="single-product style--three">
                                        <div class="product-img">
                                            <img src="/static/img/media/deutsch/cat.png" alt="">
                                        </div>

                                        <!-- Product Content -->
                                        <div class="product-content">
                                            <!-- Owners -->
                                            <div class="owners">
                                                <div class="justify-content-center start-label">
                                                    <p style="padding: 7px 10px; display: block; margin: 0; color: white; font-weight: bold">
                                                        horen
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- End Owners -->

                                            <div class="product-top">
                                                <div class="content">
                                                    <h5>Примеры тестов по аудированию</h5>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- End Product Content -->
                                    </div>
                                </a>
                            </div>
                            <div class="col col-12 col-md-4">
                                <a href="/lesen/">
                                    <div class="single-product style--three">
                                        <div class="product-img">
                                            <img src="/static/img/media/deutsch/owl.png" alt="">
                                        </div>

                                        <!-- Product Content -->
                                        <div class="product-content">
                                            <!-- Owners -->
                                            <div class="owners">
                                                <div class="justify-content-center start-label">
                                                    <p style="padding: 7px 10px; display: block; margin: 0; color: white; font-weight: bold">
                                                        lesen
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- End Owners -->

                                            <div class="product-top">
                                                <div class="content">
                                                    <h5>Примеры тестов по чтению
                                                    &nbsp;</h5>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- End Product Content -->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                <div class="col col-12 col-sm-12 col-md-12 col-sm-6 col-lg-4">
                        <div class="row">
                            <div class="col col-12 mb-3">
                                <!-- Collection -->
                                <a href="/briefs/" class="single-collection" data-count="12">
                                    <div class="collection-img">
                                        <img src="/static/img/media/deutsch/dog.png" style="width: 39px">
                                    </div>
                                    <div class="content">
                                        <h5>Brief</h5>
                                        <span>Примеры писем по темам</span>
                                    </div>
                                </a>
                                <!-- End Collection -->
                            </div>
                            <div class="col col-12 mb-3">
                                <!-- Collection -->
                                <a href="/sprechen/" class="single-collection" data-count="12">
                                    <div class="collection-img">
                                        <img src="/static/img/media/deutsch/duck.png" style="width: 39px">
                                    </div>
                                    <div class="content">
                                        <h5>Sprechen</h5>
                                        <span>Материалы для подготовки</span>
                                    </div>
                                </a>
                                <!-- End Collection -->
                            </div>
                            <div class="col col-12 mb-3">
                                <!-- Collection -->
                                <a href="/prufungen/" class="single-collection" data-count="12">
                                    <div class="collection-img">
                                        <img src="/static/img/media/deutsch/gethe.png" style="width: 39px">
                                    </div>
                                    <div class="content">
                                        <h5>Goethe</h5>
                                        <span>Официальные материалы для подготовки</span>
                                    </div>
                                </a>
                                <!-- End Collection -->
                            </div>
                            <div class="col col-12 mb-3">
                                <!-- Collection -->
                                <a href="/wortschatz/" class="single-collection" data-count="12">
                                    <div class="collection-img">
                                        <img src="/static/img/media/deutsch/bears.png" style="width: 39px">
                                    </div>
                                    <div class="content">
                                        <h5>Wortschatz</h5>
                                        <span>Общая лексика для подготовки</span>
                                    </div>
                                </a>
                                <!-- End Collection -->
                            </div>

                        </div>

                    </div>
            </div>
        </div>
    </div>
    <!-- End Main -->

    <!-- Top Collection -->
    <section class="pt-120 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>Последние материалы</h2>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>
            <div class="row">
                {% for o in articles %}
                    <div class="col-xl-3 col-lg-4 col-sm-6 mt-3">
                        <!-- Collection -->
                        <a href="{{ o.url }}" class="single-collection" data-count="01">
                            <div class="collection-img">
                                <img src="{{o.category.image}}" style="width: 39px">
                            </div>
                            <div class="content">
                                <h5>{{o.name}}</h5>
                                <span>{{o.date|naturalday}}</span>
                            </div>
                        </a>
                        <!-- End Collection -->
                    </div>
                {%endfor%}
                <div class="col-xl-3 col-lg-4 col-sm-6 mt-3">
                        <!-- Collection -->
                        <a href="/articles/" class="single-collection" data-count="01">
                            <div class="collection-img">
                                <img src="/static/img/media/deutsch/next.png" style="width: 39px">
                            </div>
                            <div class="content">
                                <h5>Все материалы</h5>
                            </div>
                        </a>
                        <!-- End Collection -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Top Collection -->

    <!-- Explore Feeds -->
    <section class="pt-120 pb-120 container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>Полезные ссылки</h2>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>
        </div>

        <!-- Swiper -->
        <div class="row">
                <div class="col-6 col-md-4 col-lg-3">
                    <!-- Single Product -->
                    <div class="single-product style--one">
                        <a href="https://www.dw.com">
                            <div class="single-product style--three">
                                <div class="product-img">
                                    <img src="/static/img/logos/DW.png" alt="">
                                </div>

                                <!-- Product Content -->
                                <div class="product-content">
                                    <!-- Owners -->
                                    <div class="owners">
                                        <div class="justify-content-center start-label">
                                            <p style="padding: 7px 10px; display: block; margin: 0; color: white; font-weight: bold">
                                                Deutsche Welle
                                            </p>
                                        </div>
                                    </div>
                                    <!-- End Owners -->
                                    <div class="product-top">
                                        <div class="content">
                                            <h5>Главные события дня в Германии</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Content -->
                            </div>
                        </a>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="https://www.multitran.com/">
                            <div class="single-product style--three">
                                <div class="product-img">
                                    <img src="/static/img/logos/mtran.png" alt="">
                                </div>

                                <!-- Product Content -->
                                <div class="product-content">
                                    <!-- Owners -->
                                    <div class="owners">
                                        <div class="justify-content-center start-label">
                                            <p style="padding: 7px 10px; display: block; margin: 0; color: white; font-weight: bold">
                                                Мультитран
                                            </p>
                                        </div>
                                    </div>
                                    <!-- End Owners -->
                                    <div class="product-top">
                                        <div class="content">
                                            <h5>Онлайн словарь</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Content -->
                            </div>
                        </a>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="https://www.goethe.de/ins/ru/ru/index.html">
                            <div class="single-product style--three">
                                <div class="product-img">
                                    <img src="/static/img/logos/gete.png" alt="">
                                </div>

                                <!-- Product Content -->
                                <div class="product-content">
                                    <!-- Owners -->
                                    <div class="owners">
                                        <div class="justify-content-center start-label">
                                            <p style="padding: 7px 10px; display: block; margin: 0; color: white; font-weight: bold">
                                                Институт Гёте
                                            </p>
                                        </div>
                                    </div>
                                    <!-- End Owners -->
                                    <div class="product-top">
                                        <div class="content">
                                            <h5>Популяризация немецкого языка</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Content -->
                            </div>
                        </a>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="https://quizlet.com/search?query=Deutsch&type=sets">
                            <div class="single-product style--three">
                                <div class="product-img">
                                    <img src="/static/img/logos/quizlet.png" alt="">
                                </div>

                                <!-- Product Content -->
                                <div class="product-content">
                                    <!-- Owners -->
                                    <div class="owners">
                                        <div class="justify-content-center start-label">
                                            <p style="padding: 7px 10px; display: block; margin: 0; color: white; font-weight: bold">
                                                quizlet.com
                                            </p>
                                        </div>
                                    </div>
                                    <!-- End Owners -->
                                    <div class="product-top">
                                        <div class="content">
                                            <h5>Учебные средства и карточки</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Content -->
                            </div>
                        </a>
                </div>
        </div>
    </section>
    <!-- End Explore Feeds -->

    {% include "includes/footer.html" %}
</body>

</html>