{% load static %}
{% load home_extras %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="light-ui">

    <!-- Header -->
    {% include 'includes/header.html' %}
    <!-- End Header -->

    <!-- Main -->
    <div class="banner style--two ov-hidden d-flex align-items-center justify-content-center" style="min-height: 100vh">
        <div id="particles" class="bg-img" style="background-image: url(static/img/bg/bg-design-shape.png); background-position: bottom;"><canvas class="particles-js-canvas-el" width="1669" height="1711" style="width: 100%; height: 100%;"></canvas></div>

        <div class="container mt-3">
            <div class="row section-title text-center text-white main_text mb-3 p-3" style="padding: 5px; margin:0px">
                            <h5>Более 100+ заданий</h5>
                            <h3>Для подготовки к Deutsch A1</h3>
                            <p>Предложенные материалы покрывают 99% экзамена</p>
            </div>
            <div class="row">
                <div class="col col-12 col-md-12 col-lg-8">
                        <div class="row">
                            <div class="col col-6 col-md-4">
                                <a href="/quiz/words">
                                    <div class="single-product style--three">
                                        <div class="product-img">
                                            <img src="/static/img/media/deutsch/croco.png" alt="">
                                        </div>

                                        <!-- Product Content -->
                                        <div class="product-content">
                                            <!-- Owners -->
                                            <div class="owners">
                                                <div class="justify-content-center start-label">
                                                    <p style="padding: 7px 10px; display: block; margin: 0; color: white; font-weight: bold">
                                                        wörter lernen
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- End Owners -->
                                            <div class="product-top">
                                                <div class="content">
                                                    <h5>Проверка словарного запаса</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Product Content -->
                                    </div>
                                </a>
                            </div>
                            <div class="col col-6 col-md-4">
                                <a href="/horen/">
                                    <div class="single-product style--three">
                                        <div class="product-img">
                                            <img src="/static/img/media/deutsch/cat.png" alt="">
                                        </div>

                                        <!-- Product Content -->
                                        <div class="product-content">
                                            <!-- Owners -->
                                            <div class="owners">
                                                <div class="justify-content-center start-label">
                                                    <p style="padding: 7px 10px; display: block; margin: 0; color: white; font-weight: bold">
                                                        horen
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- End Owners -->

                                            <div class="product-top">
                                                <div class="content">
                                                    <h5>Примеры тестов по аудированию</h5>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- End Product Content -->
                                    </div>
                                </a>
                            </div>
                            <div class="col col-12 col-md-4">
                                <a href="/lesen/">
                                    <div class="single-product style--three">
                                        <div class="product-img">
                                            <img src="/static/img/media/deutsch/owl.png" alt="">
                                        </div>

                                        <!-- Product Content -->
                                        <div class="product-content">
                                            <!-- Owners -->
                                            <div class="owners">
                                                <div class="justify-content-center start-label">
                                                    <p style="padding: 7px 10px; display: block; margin: 0; color: white; font-weight: bold">
                                                        lesen
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- End Owners -->

                                            <div class="product-top">
                                                <div class="content">
                                                    <h5>Примеры тестов по чтению
                                                    &nbsp;</h5>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- End Product Content -->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                <div class="col col-12 col-sm-12 col-md-12 col-sm-6 col-lg-4">
                        <div class="row">
                            <div class="col col-12 mb-3">
                                <!-- Collection -->
                                <a href="/briefs/" class="single-collection" data-count="12">
                                    <div class="collection-img">
                                        <img src="/static/img/media/deutsch/dog.png" style="width: 39px">
                                    </div>
                                    <div class="content">
                                        <h5>Brief</h5>
                                        <span>Примеры писем по темам</span>
                                    </div>
                                </a>
                                <!-- End Collection -->
                            </div>
                            <div class="col col-12 mb-3">
                                <!-- Collection -->
                                <a href="/sprechen/" class="single-collection" data-count="12">
                                    <div class="collection-img">
                                        <img src="/static/img/media/deutsch/duck.png" style="width: 39px">
                                    </div>
                                    <div class="content">
                                        <h5>Sprechen</h5>
                                        <span>Материалы для подготовки</span>
                                    </div>
                                </a>
                                <!-- End Collection -->
                            </div>
                            <div class="col col-12 mb-3">
                                <!-- Collection -->
                                <a href="/prufungen/" class="single-collection" data-count="12">
                                    <div class="collection-img">
                                        <img src="/static/img/media/deutsch/gethe.png" style="width: 39px">
                                    </div>
                                    <div class="content">
                                        <h5>Goethe</h5>
                                        <span>Официальные материалы для подготовки</span>
                                    </div>
                                </a>
                                <!-- End Collection -->
                            </div>
                            <div class="col col-12 mb-3">
                                <!-- Collection -->
                                <a href="/wortschatz/" class="single-collection" data-count="12">
                                    <div class="collection-img">
                                        <img src="/static/img/media/deutsch/bears.png" style="width: 39px">
                                    </div>
                                    <div class="content">
                                        <h5>Wortschatz</h5>
                                        <span>Общая лексика для подготовки</span>
                                    </div>
                                </a>
                                <!-- End Collection -->
                            </div>

                        </div>

                    </div>
            </div>
        </div>
    </div>
    <!-- End Main -->

    <!-- Top Collection -->
    <section class="pt-120 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>Последние материалы</h2>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>
            <div class="row">
                {% for o in articles %}
                    <div class="col-xl-3 col-lg-4 col-sm-6 mt-3">
                        <!-- Collection -->
                        <a href="{{ o.url }}" class="single-collection" data-count="01">
                            <div class="collection-img">
                                <img src="{{o.category.image}}" style="width: 39px">
                            </div>
                            <div class="content">
                                <h5>{{o.name}}</h5>
                                <span>{{o.date|naturalday}}</span>
                            </div>
                        </a>
                        <!-- End Collection -->
                    </div>
                {%endfor%}
                <div class="col-xl-3 col-lg-4 col-sm-6 mt-3">
                        <!-- Collection -->
                        <a href="/articles/" class="single-collection" data-count="01">
                            <div class="collection-img">
                                <img src="{{o.category.img_url}}" style="width: 39px">
                            </div>
                            <div class="content">
                                <h5>Все материалы</h5>
                            </div>
                        </a>
                        <!-- End Collection -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Top Collection -->

    <!-- Explore Feeds -->
    <section class="pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>Дополнительные материалы</h2>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>
        </div>

        <!-- Swiper -->
        <div class="swiper explore-feeds" data-swiper-loop="true" data-swiper-items="auto" data-swiper-margin="30">
            <div class="swiper-wrapper mb-60">
                <div class="swiper-slide">
                    <!-- Single Product -->
                    <div class="single-product style--one">
                        <img src="/static/img/logos/DW.png" alt="">

                        <!-- Product Content -->
                        <div class="product-content">
                            <div class="product-top">
                                <h5>Colorful Abstract Painting</h5>
                                <div class="d-flex justify-content-between">
                                    <h6>0.69 ETH</h6>
                                    <h6>2 to 100</h6>
                                </div>
                            </div>

                            <div class="product-bottom">
                                <!-- Button Group -->
                                <div class="button-group">
                                    <a href="#" class="btn-circle love-react mr-10"></a>

                                    <div class="dropdown mr-10">
                                        <button class="btn-circle btn-border dropdown-toggle" data-bs-toggle="dropdown">
                                            <img src="/static/img/icons/share.svg" alt="" class="svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.facebook.com/"><img
                                                        src="/static/img/icons/facebook.svg" alt=""> Share on
                                                    Facebook</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.twitter.com/"><img
                                                        src="/static/img/icons/twitter.svg" alt=""> Share on Twitter</a>
                                            </li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.Instagram.com/"><img
                                                        src="/static/img/icons/instagram.svg" alt=""> Share on
                                                    Instagram</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.linkedin.com/"><img
                                                        src="/static/img/icons/linkedin.svg" alt=""> Share on
                                                    Linkedin</a></li>
                                        </ul>
                                    </div>

                                    <a href="item-details.html" class="btn btn-border btn-sm">
                                        <img src="/static/img/icons/judge-icon.svg" alt="" class="svg">
                                        Place Bid
                                    </a>
                                </div>
                                <!-- End Button Group -->
                            </div>
                        </div>
                        <!-- End Product Content -->
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="swiper-slide">
                    <!-- Single Product -->
                    <div class="single-product style--one">
                        <img src="/static/img/logos/gete.png" alt="">

                        <!-- Product Content -->
                        <div class="product-content">
                            <div class="product-top">
                                <h5>Liquid Forest Princess</h5>
                                <div class="d-flex justify-content-between">
                                    <h6>0.89 ETH</h6>
                                    <h6>2 to 100</h6>
                                </div>
                            </div>

                            <div class="product-bottom">
                                <!-- Button Group -->
                                <div class="button-group">
                                    <a href="#" class="btn-circle love-react mr-10"></a>

                                    <div class="dropdown mr-10">
                                        <button class="btn-circle btn-border dropdown-toggle" data-bs-toggle="dropdown">
                                            <img src="/static/img/icons/share.svg" alt="" class="svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.facebook.com/"><img
                                                        src="/static/img/icons/facebook.svg" alt=""> Share on
                                                    Facebook</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.twitter.com/"><img
                                                        src="/static/img/icons/twitter.svg" alt=""> Share on Twitter</a>
                                            </li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.Instagram.com/"><img
                                                        src="/static/img/icons/instagram.svg" alt=""> Share on
                                                    Instagram</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.linkedin.com/"><img
                                                        src="/static/img/icons/linkedin.svg" alt=""> Share on
                                                    Linkedin</a></li>
                                        </ul>
                                    </div>

                                    <a href="item-details.html" class="btn btn-border btn-sm">
                                        <img src="/static/img/icons/judge-icon.svg" alt="" class="svg">
                                        Place Bid
                                    </a>
                                </div>
                                <!-- End Button Group -->
                            </div>
                        </div>
                        <!-- End Product Content -->
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="swiper-slide">
                    <!-- Single Product -->
                    <div class="single-product style--one">
                        <img src="/static/img/logos/mtran.png" alt="">

                        <!-- Product Content -->
                        <div class="product-content">
                            <div class="product-top">
                                <h5>Animal Girl Painting</h5>
                                <div class="d-flex justify-content-between">
                                    <h6>1.89 ETH</h6>
                                    <h6>2 to 100</h6>
                                </div>
                            </div>

                            <div class="product-bottom">
                                <!-- Button Group -->
                                <div class="button-group">
                                    <a href="#" class="btn-circle love-react mr-10"></a>

                                    <div class="dropdown mr-10">
                                        <button class="btn-circle btn-border dropdown-toggle" data-bs-toggle="dropdown">
                                            <img src="/static/img/icons/share.svg" alt="" class="svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.facebook.com/"><img
                                                        src="/static/img/icons/facebook.svg" alt=""> Share on
                                                    Facebook</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.twitter.com/"><img
                                                        src="/static/img/icons/twitter.svg" alt=""> Share on Twitter</a>
                                            </li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.Instagram.com/"><img
                                                        src="/static/img/icons/instagram.svg" alt=""> Share on
                                                    Instagram</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.linkedin.com/"><img
                                                        src="/static/img/icons/linkedin.svg" alt=""> Share on
                                                    Linkedin</a></li>
                                        </ul>
                                    </div>

                                    <a href="item-details.html" class="btn btn-border btn-sm">
                                        <img src="/static/img/icons/judge-icon.svg" alt="" class="svg">
                                        Place Bid
                                    </a>
                                </div>
                                <!-- End Button Group -->
                            </div>
                        </div>
                        <!-- End Product Content -->
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="swiper-slide">
                    <!-- Single Product -->
                    <div class="single-product style--one">
                        <img src="/static/img/logos/quizlet.png" alt="">

                        <!-- Product Content -->
                        <div class="product-content">
                            <div class="product-top">
                                <h5>Animal Girl Painting</h5>
                                <div class="d-flex justify-content-between">
                                    <h6>3.99 ETH</h6>
                                    <h6>2 to 100</h6>
                                </div>
                            </div>

                            <div class="product-bottom">
                                <!-- Button Group -->
                                <div class="button-group">
                                    <a href="#" class="btn-circle love-react mr-10"></a>

                                    <div class="dropdown mr-10">
                                        <button class="btn-circle btn-border dropdown-toggle" data-bs-toggle="dropdown">
                                            <img src="/static/img/icons/share.svg" alt="" class="svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.facebook.com/"><img
                                                        src="/static/img/icons/facebook.svg" alt=""> Share on
                                                    Facebook</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.twitter.com/"><img
                                                        src="/static/img/icons/twitter.svg" alt=""> Share on Twitter</a>
                                            </li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.Instagram.com/"><img
                                                        src="/static/img/icons/instagram.svg" alt=""> Share on
                                                    Instagram</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.linkedin.com/"><img
                                                        src="/static/img/icons/linkedin.svg" alt=""> Share on
                                                    Linkedin</a></li>
                                        </ul>
                                    </div>

                                    <a href="item-details.html" class="btn btn-border btn-sm">
                                        <img src="/static/img/icons/judge-icon.svg" alt="" class="svg">
                                        Place Bid
                                    </a>
                                </div>
                                <!-- End Button Group -->
                            </div>
                        </div>
                        <!-- End Product Content -->
                    </div>
                    <!-- End Single Product -->
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- End Explore Feeds -->

    <!-- Support Center -->
    <section class="pb-120 mt-lg-120 pt-60 pt-lg-0 section-shape section-shape-right">
        <div class="container">
            <div class="row gutter-60">
                <div class="col-lg-4">
                    <!-- Support IMG -->
                    <div class="support-img">
                        <img src="/static/img/media/support-img.png" alt="">
                    </div>
                    <!-- End Support IMG -->
                </div>
                <div class="col-lg-8">
                    <div class="d-flex justify-content-end mb-60">
                        <!-- Gradient box -->
                        <div class="quick-contact gradient-box">
                            <img src="/static/img/icons/phone.png" class="gradient-box-icon" alt="">
                            <h3 class="text-white">Quick Contact Us:</h3>
                            <a href="tel:0032525700">+003 252-5700</a>
                        </div>
                        <!-- End Gradient box -->
                    </div>

                    <!-- Support Content -->
                    <div class="support-content">
                        <!-- Section Title -->
                        <div class="section-title">
                            <h2>Support Center</h2>
                            <p>Anefty are non-fungible tokens. they are unique items that you can't replace with
                                something else. for example, a one of a kind trading card is an NFT – you can't just
                                replace it with any other card.</p>
                        </div>
                        <!-- End Section Title -->

                        <!-- Support Form -->
                        <form action="#" class="support-form row">
                            <div class="col-lg-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="email" name="email" class="form-control" placeholder="Your Email" required>
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control" placeholder="Write Message Here"
                                    required></textarea>
                                <button type="submit" class="btn"><img src="/static/img/icons/mail.svg" alt=""
                                        class="svg"> Send Request</button>
                            </div>
                        </form>
                        <!-- End Support Form -->
                    </div>
                    <!-- End Support Content -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Support Center -->

    {% include "includes/footer.html" %}
</body>

</html>