{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="light-ui">

    <!-- Header -->
    {% include 'includes/header.html' %}
    <!-- End Header -->

    <div class="banner style--two ov-hidden" style="min-height: 600px">
        <div id="particles" class="bg-img" style="background-image: url(static/img/bg/banner-bg3.png); background-position: bottom;"><canvas class="particles-js-canvas-el" width="1669" height="1711" style="width: 100%; height: 100%;"></canvas></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <!-- Banner Content -->
                    <div class="banner-content text-white mb-5 mb-lg-0">
                        <h2 class="stroke-text">Digital</h2>
                        <h1>Collection And Sell, NFTs</h1>
                        <a href="create.html" class="btn">
                            <img src="assets/img/icons/discover.svg" alt="" class="svg">
                            Discover
                        </a>
                    </div>
                    <!-- End Banner Content -->
                </div>
                <div class="col-lg-11">
                    <!-- Banner IMG -->
                    <div class="banner-img mb-60 mb-lg-0">
                        <img src="assets/img/media/banner-img3.png" alt="">
                    </div>
                    <!-- End Banner IMG -->
                </div>
            </div>
        </div>
    </div>

    <!-- Live Auction -->
    <section class="pt-120 pb-120 section-shape">
        <div class="container mt-60 mt-lg-0">
            <div class="row">
                {% for o in Category %}

                    <div class="col-xl-3 col-lg-4 col-md-6 element-item artwork memes">
                        <!-- Single Product -->
                        <a href="{{o.url}}">
                            <div class="single-product style--three">
                            <div class="product-img">
                                <img src="{{ o.image }}" alt="">
                            </div>

                            <!-- Product Content -->
                            <div class="product-content">
                                <!-- Owners -->
                                <div class="owners">
                                    <div class="justify-content-center" style="background-color: #f67280; border: 5px solid white; border-radius: 25px;">
                                        <p style="padding: 7px 10px; display: block; margin: 0; color: white">
                                            {{ o.name }}
                                        </p>
                                    </div>
                                </div>
                                <!-- End Owners -->

                                <div class="product-top" style="max-height: 50px">
                                    {{ o.description }}

                                </div>

                            </div>
                            <!-- End Product Content -->
                        </div>
                        </a>
                        <!-- End Single Product -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Live Auction -->

    <!-- Explore Feeds -->
    <section class="pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>Explore Feeds</h2>
                        <p>NFTs are non-fungible tokens. They are unique items that you can't replace with something
                            else. for trading card is an NFT – you can't just replace it with any other card.</p>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>
        </div>

        <!-- Swiper -->
        <div class="swiper explore-feeds" data-swiper-loop="true" data-swiper-items="auto" data-swiper-margin="30">
            <div class="swiper-wrapper mb-60">
                <div class="swiper-slide">
                    <!-- Single Product -->
                    <div class="single-product style--one">
                        <img src="/static/img/product/product4.png" alt="">

                        <!-- Product Content -->
                        <div class="product-content">
                            <div class="product-top">
                                <h5>Colorful Abstract Painting</h5>
                                <div class="d-flex justify-content-between">
                                    <h6>0.69 ETH</h6>
                                    <h6>2 to 100</h6>
                                </div>
                            </div>

                            <div class="product-bottom">
                                <!-- Button Group -->
                                <div class="button-group">
                                    <a href="#" class="btn-circle love-react mr-10"></a>

                                    <div class="dropdown mr-10">
                                        <button class="btn-circle btn-border dropdown-toggle" data-bs-toggle="dropdown">
                                            <img src="/static/img/icons/share.svg" alt="" class="svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.facebook.com/"><img
                                                        src="/static/img/icons/facebook.svg" alt=""> Share on
                                                    Facebook</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.twitter.com/"><img
                                                        src="/static/img/icons/twitter.svg" alt=""> Share on Twitter</a>
                                            </li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.Instagram.com/"><img
                                                        src="/static/img/icons/instagram.svg" alt=""> Share on
                                                    Instagram</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.linkedin.com/"><img
                                                        src="/static/img/icons/linkedin.svg" alt=""> Share on
                                                    Linkedin</a></li>
                                        </ul>
                                    </div>

                                    <a href="item-details.html" class="btn btn-border btn-sm">
                                        <img src="/static/img/icons/judge-icon.svg" alt="" class="svg">
                                        Place Bid
                                    </a>
                                </div>
                                <!-- End Button Group -->
                            </div>
                        </div>
                        <!-- End Product Content -->
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="swiper-slide">
                    <!-- Single Product -->
                    <div class="single-product style--one">
                        <img src="/static/img/product/product5.png" alt="">

                        <!-- Product Content -->
                        <div class="product-content">
                            <div class="product-top">
                                <h5>Liquid Forest Princess</h5>
                                <div class="d-flex justify-content-between">
                                    <h6>0.89 ETH</h6>
                                    <h6>2 to 100</h6>
                                </div>
                            </div>

                            <div class="product-bottom">
                                <!-- Button Group -->
                                <div class="button-group">
                                    <a href="#" class="btn-circle love-react mr-10"></a>

                                    <div class="dropdown mr-10">
                                        <button class="btn-circle btn-border dropdown-toggle" data-bs-toggle="dropdown">
                                            <img src="/static/img/icons/share.svg" alt="" class="svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.facebook.com/"><img
                                                        src="/static/img/icons/facebook.svg" alt=""> Share on
                                                    Facebook</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.twitter.com/"><img
                                                        src="/static/img/icons/twitter.svg" alt=""> Share on Twitter</a>
                                            </li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.Instagram.com/"><img
                                                        src="/static/img/icons/instagram.svg" alt=""> Share on
                                                    Instagram</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.linkedin.com/"><img
                                                        src="/static/img/icons/linkedin.svg" alt=""> Share on
                                                    Linkedin</a></li>
                                        </ul>
                                    </div>

                                    <a href="item-details.html" class="btn btn-border btn-sm">
                                        <img src="/static/img/icons/judge-icon.svg" alt="" class="svg">
                                        Place Bid
                                    </a>
                                </div>
                                <!-- End Button Group -->
                            </div>
                        </div>
                        <!-- End Product Content -->
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="swiper-slide">
                    <!-- Single Product -->
                    <div class="single-product style--one">
                        <img src="/static/img/product/product6.png" alt="">

                        <!-- Product Content -->
                        <div class="product-content">
                            <div class="product-top">
                                <h5>Animal Girl Painting</h5>
                                <div class="d-flex justify-content-between">
                                    <h6>1.89 ETH</h6>
                                    <h6>2 to 100</h6>
                                </div>
                            </div>

                            <div class="product-bottom">
                                <!-- Button Group -->
                                <div class="button-group">
                                    <a href="#" class="btn-circle love-react mr-10"></a>

                                    <div class="dropdown mr-10">
                                        <button class="btn-circle btn-border dropdown-toggle" data-bs-toggle="dropdown">
                                            <img src="/static/img/icons/share.svg" alt="" class="svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.facebook.com/"><img
                                                        src="/static/img/icons/facebook.svg" alt=""> Share on
                                                    Facebook</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.twitter.com/"><img
                                                        src="/static/img/icons/twitter.svg" alt=""> Share on Twitter</a>
                                            </li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.Instagram.com/"><img
                                                        src="/static/img/icons/instagram.svg" alt=""> Share on
                                                    Instagram</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.linkedin.com/"><img
                                                        src="/static/img/icons/linkedin.svg" alt=""> Share on
                                                    Linkedin</a></li>
                                        </ul>
                                    </div>

                                    <a href="item-details.html" class="btn btn-border btn-sm">
                                        <img src="/static/img/icons/judge-icon.svg" alt="" class="svg">
                                        Place Bid
                                    </a>
                                </div>
                                <!-- End Button Group -->
                            </div>
                        </div>
                        <!-- End Product Content -->
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="swiper-slide">
                    <!-- Single Product -->
                    <div class="single-product style--one">
                        <img src="/static/img/product/product7.png" alt="">

                        <!-- Product Content -->
                        <div class="product-content">
                            <div class="product-top">
                                <h5>Animal Girl Painting</h5>
                                <div class="d-flex justify-content-between">
                                    <h6>3.99 ETH</h6>
                                    <h6>2 to 100</h6>
                                </div>
                            </div>

                            <div class="product-bottom">
                                <!-- Button Group -->
                                <div class="button-group">
                                    <a href="#" class="btn-circle love-react mr-10"></a>

                                    <div class="dropdown mr-10">
                                        <button class="btn-circle btn-border dropdown-toggle" data-bs-toggle="dropdown">
                                            <img src="/static/img/icons/share.svg" alt="" class="svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.facebook.com/"><img
                                                        src="/static/img/icons/facebook.svg" alt=""> Share on
                                                    Facebook</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.twitter.com/"><img
                                                        src="/static/img/icons/twitter.svg" alt=""> Share on Twitter</a>
                                            </li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.Instagram.com/"><img
                                                        src="/static/img/icons/instagram.svg" alt=""> Share on
                                                    Instagram</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.linkedin.com/"><img
                                                        src="/static/img/icons/linkedin.svg" alt=""> Share on
                                                    Linkedin</a></li>
                                        </ul>
                                    </div>

                                    <a href="item-details.html" class="btn btn-border btn-sm">
                                        <img src="/static/img/icons/judge-icon.svg" alt="" class="svg">
                                        Place Bid
                                    </a>
                                </div>
                                <!-- End Button Group -->
                            </div>
                        </div>
                        <!-- End Product Content -->
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="swiper-slide">
                    <!-- Single Product -->
                    <div class="single-product style--one">
                        <img src="/static/img/product/product8.png" alt="">

                        <!-- Product Content -->
                        <div class="product-content">
                            <div class="product-top">
                                <h5>Animal Girl Painting</h5>
                                <div class="d-flex justify-content-between">
                                    <h6>1.79 ETH</h6>
                                    <h6>2 to 100</h6>
                                </div>
                            </div>

                            <div class="product-bottom">
                                <!-- Button Group -->
                                <div class="button-group">
                                    <a href="#" class="btn-circle love-react mr-10"></a>

                                    <div class="dropdown mr-10">
                                        <button class="btn-circle btn-border dropdown-toggle" data-bs-toggle="dropdown">
                                            <img src="/static/img/icons/share.svg" alt="" class="svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.facebook.com/"><img
                                                        src="/static/img/icons/facebook.svg" alt=""> Share on
                                                    Facebook</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.twitter.com/"><img
                                                        src="/static/img/icons/twitter.svg" alt=""> Share on Twitter</a>
                                            </li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.Instagram.com/"><img
                                                        src="/static/img/icons/instagram.svg" alt=""> Share on
                                                    Instagram</a></li>
                                            <li><a class="dropdown-item" target="_blank"
                                                    href="https://www.linkedin.com/"><img
                                                        src="/static/img/icons/linkedin.svg" alt=""> Share on
                                                    Linkedin</a></li>
                                        </ul>
                                    </div>

                                    <a href="item-details.html" class="btn btn-border btn-sm">
                                        <img src="/static/img/icons/judge-icon.svg" alt="" class="svg">
                                        Place Bid
                                    </a>
                                </div>
                                <!-- End Button Group -->
                            </div>
                        </div>
                        <!-- End Product Content -->
                    </div>
                    <!-- End Single Product -->
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- End Explore Feeds -->

    <!-- Support Center -->
    <section class="pb-120 mt-lg-120 pt-60 pt-lg-0 section-shape section-shape-right">
        <div class="container">
            <div class="row gutter-60">
                <div class="col-lg-4">
                    <!-- Support IMG -->
                    <div class="support-img">
                        <img src="/static/img/media/support-img.png" alt="">
                    </div>
                    <!-- End Support IMG -->
                </div>
                <div class="col-lg-8">
                    <div class="d-flex justify-content-end mb-60">
                        <!-- Gradient box -->
                        <div class="quick-contact gradient-box">
                            <img src="/static/img/icons/phone.png" class="gradient-box-icon" alt="">
                            <h3 class="text-white">Quick Contact Us:</h3>
                            <a href="tel:0032525700">+003 252-5700</a>
                        </div>
                        <!-- End Gradient box -->
                    </div>

                    <!-- Support Content -->
                    <div class="support-content">
                        <!-- Section Title -->
                        <div class="section-title">
                            <h2>Support Center</h2>
                            <p>Anefty are non-fungible tokens. they are unique items that you can't replace with
                                something else. for example, a one of a kind trading card is an NFT – you can't just
                                replace it with any other card.</p>
                        </div>
                        <!-- End Section Title -->

                        <!-- Support Form -->
                        <form action="#" class="support-form row">
                            <div class="col-lg-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="email" name="email" class="form-control" placeholder="Your Email" required>
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control" placeholder="Write Message Here"
                                    required></textarea>
                                <button type="submit" class="btn"><img src="/static/img/icons/mail.svg" alt=""
                                        class="svg"> Send Request</button>
                            </div>
                        </form>
                        <!-- End Support Form -->
                    </div>
                    <!-- End Support Content -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Support Center -->

    <!-- Top Collection -->
    <section class="pt-120 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>Top Collections</h2>
                        <p>NFTs are non-fungible tokens. They are unique items that you can't replace with something
                            else. for trading card is an NFT – you can't just replace it with any other card.</p>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- Collection -->
                    <a href="collection.html" class="single-collection" data-count="01">
                        <div class="collection-img">
                            <img src="/static/img/collections/collection1.png" alt="">
                        </div>
                        <div class="content">
                            <h5>Meka_Verse</h5>
                            <span>$203,621,269</span>
                        </div>
                    </a>
                    <!-- End Collection -->
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- Collection -->
                    <a href="collection.html" class="single-collection" data-count="02">
                        <div class="collection-img">
                            <img src="/static/img/collections/collection2.gif" alt="">
                        </div>
                        <div class="content">
                            <h5>Bored_YachtClub</h5>
                            <span>$118,321,276</span>
                        </div>
                    </a>
                    <!-- End Collection -->
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- Collection -->
                    <a href="collection.html" class="single-collection" data-count="03">
                        <div class="collection-img">
                            <img src="/static/img/collections/collection3.png" alt="">
                        </div>
                        <div class="content">
                            <h5>Bambooz_lers</h5>
                            <span>$10,429,103</span>
                        </div>
                    </a>
                    <!-- End Collection -->
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- Collection -->
                    <a href="collection.html" class="single-collection" data-count="04">
                        <div class="collection-img">
                            <img src="/static/img/collections/collection4.png" alt="">
                        </div>
                        <div class="content">
                            <h5>The_Humanoids</h5>
                            <span>$7,991,156</span>
                        </div>
                    </a>
                    <!-- End Collection -->
                </div>

                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- Collection -->
                    <a href="collection.html" class="single-collection" data-count="05">
                        <div class="collection-img">
                            <img src="/static/img/collections/collection5.png" alt="">
                        </div>
                        <div class="content">
                            <h5>Stacked_Toadz</h5>
                            <span>$6,700,653</span>
                        </div>
                    </a>
                    <!-- End Collection -->
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- Collection -->
                    <a href="collection.html" class="single-collection" data-count="06">
                        <div class="collection-img">
                            <img src="/static/img/collections/collection6.png" alt="">
                        </div>
                        <div class="content">
                            <h5>Mutant_Cats</h5>
                            <span>$22,278,069</span>
                        </div>
                    </a>
                    <!-- End Collection -->
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- Collection -->
                    <a href="collection.html" class="single-collection" data-count="07">
                        <div class="collection-img">
                            <img src="/static/img/collections/collection7.gif" alt="">
                        </div>
                        <div class="content">
                            <h5>Mutant_YachtClub</h5>
                            <span>$10,307,676</span>
                        </div>
                    </a>
                    <!-- End Collection -->
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- Collection -->
                    <a href="collection.html" class="single-collection" data-count="08">
                        <div class="collection-img">
                            <img src="/static/img/collections/collection8.png" alt="">
                        </div>
                        <div class="content">
                            <h5>Optics_PeopleS</h5>
                            <span>$19,359,169</span>
                        </div>
                    </a>
                    <!-- End Collection -->
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- Collection -->
                    <a href="collection.html" class="single-collection" data-count="09">
                        <div class="collection-img">
                            <img src="/static/img/collections/collection9.gif" alt="">
                        </div>
                        <div class="content">
                            <h5>Goofy_Oversized</h5>
                            <span>$203,621,269</span>
                        </div>
                    </a>
                    <!-- End Collection -->
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- Collection -->
                    <a href="collection.html" class="single-collection" data-count="10">
                        <div class="collection-img">
                            <img src="/static/img/collections/collection10.png" alt="">
                        </div>
                        <div class="content">
                            <h5>Cyber_Kongz</h5>
                            <span>$7,227,956</span>
                        </div>
                    </a>
                    <!-- End Collection -->
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- Collection -->
                    <a href="collection.html" class="single-collection" data-count="11">
                        <div class="collection-img">
                            <img src="/static/img/collections/collection11.png" alt="">
                        </div>
                        <div class="content">
                            <h5>The_DogePound</h5>
                            <span>$6,609,169</span>
                        </div>
                    </a>
                    <!-- End Collection -->
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- Collection -->
                    <a href="collection.html" class="single-collection" data-count="12">
                        <div class="collection-img">
                            <img src="/static/img/collections/collection12.gif" alt="">
                        </div>
                        <div class="content">
                            <h5>Halloween_Bears</h5>
                            <span>$4,673,966</span>
                        </div>
                    </a>
                    <!-- End Collection -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Top Collection -->

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-sm-6">
                        <!-- Widget Nav Menu -->
                        <div class="widget widget_nav_menu">
                            <h4 class="widget_title">My Account</h4>
                            <ul>
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="author.html">Author</a></li>
                                <li><a href="collection.html">My Collections</a></li>
                                <li><a href="author.html">Settings</a></li>
                                <li><a href="activity.html">Activity</a></li>
                            </ul>
                        </div>
                        <!-- End Widget Nav Menu -->
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <!-- Widget Nav Menu -->
                        <div class="widget widget_nav_menu">
                            <h4 class="widget_title">Marketplace</h4>
                            <div class="footer-list-wrap">
                                <ul>
                                    <li><a href="explore.html">All NFTs</a></li>
                                    <li><a href="explore.html">Trading Paint</a></li>
                                    <li><a href="explore.html">Art Painting</a></li>
                                    <li><a href="explore.html">Virtual Paints</a></li>
                                    <li><a href="explore.html">Collectibles</a></li>
                                </ul>
                                <ul>
                                    <li><a href="contact.html">Terms of Service</a></li>
                                    <li><a href="contact.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Widget Nav Menu -->
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <!-- Widget Newsletter -->
                        <div class="widget widget_newsletter">
                            <h4 class="widget_title">Newsletter</h4>

                            <form
                                action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&id=f4e0e93d1d"
                                class="newslatter-form">
                                <div class="theme-input-group">
                                    <input class="form-control" type="email" placeholder="Enter Your Email...">
                                    <button type="submit" class="submit-btn btn"><img src="/static/img/icons/mail.svg"
                                            alt="" class="svg"> Signup Now</button>
                                </div>
                            </form>
                        </div>
                        <!-- End Widget Newsletter -->
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <!-- Widget About -->
                        <div class="widget text-center text-white widget_about">
                            <img src="/static/img/footer-logo-light.svg" alt="" class="svg footer-logo">
                            <p>The anefty first large digital marketplace crypto collectibles & non fungible token buy
                                sell & discover digital /static.</p>

                            <!-- Socials -->
                            <div class="socials d-flex justify-content-center align-items-center">
                                <a href="https://www.twitter.com/" target="_blank"><img
                                        src="/static/img/icons/twitter-round.svg" alt="" class="svg"></a>
                                <a href="https://www.instagram.com/" target="_blank"><img
                                        src="/static/img/icons/instagram-round.svg" alt="" class="svg"></a>
                                <a href="https://www.pinterest.com/" target="_blank"><img
                                        src="/static/img/icons/pinterest.svg" alt="" class="svg"></a>
                                <a href="https://www.whatsapp.com/" target="_blank"><img
                                        src="/static/img/icons/whatsapp.svg" alt="" class="svg"></a>
                            </div>
                            <!-- End Socials -->
                        </div>
                        <!-- End Widget About -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- CopyRight Content -->
                        <div class="copyright-content title-color text-center">
                            © 2018 - <span class="currentYear">2022</span> <a
                                href="https://www.themelooks.com/">Themelooks</a> Networks, Inc. All Right
                            Reserved.
                        </div>
                        <!-- End CopyRight Content -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Back to Top Button -->
    <a href="#" class="back-to-top">
        <i class="fas fa-long-arrow-alt-up"></i>
    </a>
    <!-- End Back to Top Button -->


    <!-- ======= jQuery Library ======= -->
    <script src="/static/js/jquery.min.js"></script>

    <!-- ======= Bootstrap Bundle JS ======= -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <!-- ======= Particles JS ======= -->
    <script src="/static/plugins/particles/particles.min.js"></script>

    <!-- ======= Menu JS ======= -->
    <script src=" /static/js/menu.min.js"></script>

    <!-- ======= Swiper JS ======= -->
    <script src="/static/plugins/swiper/swiper-bundle.min.js"></script>

    <!-- ======= Magnific Popup JS ======= -->
    <script src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- ======= Countdown JS ======= -->
    <script src="/static/plugins/countdown/countdown.min.js"></script>

    <!-- ======= Nice select JS ======= -->
    <script src="/static/plugins/nice-select/jquery.nice-select.min.js"></script>

    <!-- ======= Isotope JS ======= -->
    <script src="/static/plugins/Isotope/isotope.pkgd.js"></script>

    <!-- ======= Wayoints JS ======= -->
    <script src="/static/plugins/counterup/waypoints.min.js"></script>

    <!-- ======= CounterUp JS ======= -->
    <script src="/static/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- ======= Main JS ======= -->
    <script src="/static/js/main.js"></script>

    <!-- ======= Custom JS ======= -->
    <script src="/static/js/custom.js"></script>
</body>

</html>