<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content=
      "Тесты немецкий а1 - подготовка к экзамену Start-deutsch A1, {{head}}">
   <meta name="keywords" content="{{keywords}}, немецкий а1, немецкий, а1, a1, deutsch, start deutsch, тест, тест немецкий">
   <title>
      {% if title %}
        {{title}}
      {% else %}
        Start-deutsch A1
      {% endif %}
   </title>

   {% if canonical %}
      <link rel="canonical" href="{{canonical}}">
   {% endif %}

   <!-- <link rel="manifest" href="site.webmanifest"> -->
   <link rel="shortcut icon" type="image/x-icon" href="/static/deutsch/img/favicon.png">
   <!-- Place favicon.ico in the root directory -->

   <!-- CSS here -->
   <link rel="stylesheet" href="/static/deutsch/css/bootstrap.min.css">
   <link rel="stylesheet" href="/static/deutsch/css/magnific-popup.css">
   <link rel="stylesheet" href="/static/deutsch/css/font-awesome.min.css">
   <link rel="stylesheet" href="/static/deutsch/css/flaticon.css">
   <link rel="stylesheet" href="/static/deutsch/css/slicknav.css">
   <link rel="stylesheet" href="/static/deutsch/css/style.css">
   <link rel="stylesheet" href="/static/deutsch/css/quiz/style.css">
   <!-- <link rel="stylesheet" href="/static/deutsch/css/responsive.css"> -->

   <!-- JS here -->
   <script src="/static/deutsch/js/vendor/jquery-1.12.4.min.js"></script>
   <script src="/static/deutsch/js/popper.min.js"></script>
   <script src="/static/deutsch/js/bootstrap.min.js"></script>
   <script src="/static/deutsch/js/owl.carousel.min.js"></script>
   <script src="/static/deutsch/js/isotope.pkgd.min.js"></script>
   <script src="/static/deutsch/js/jquery.counterup.min.js"></script>
   <script src="/static/deutsch/js/wow.min.js"></script>
   <script src="/static/deutsch/js/nice-select.min.js"></script>
   <script src="/static/deutsch/js/jquery.slicknav.min.js"></script>
   <script src="/static/deutsch/js/jquery.magnific-popup.min.js"></script>

   <!--contact js-->
   <script src="/static/deutsch/js/contact.js"></script>
   <script src="/static/deutsch/js/jquery.ajaxchimp.min.js"></script>
   <script src="/static/deutsch/js/jquery.form.js"></script>
   <script src="/static/deutsch/js/jquery.validate.min.js"></script>
   <script src="/static/deutsch/js/mail-script.js"></script>

   <script src="/static/deutsch/js/main.js"></script>

   <meta name="yandex-verification" content="c02c069565f8973a" />
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-HVYZBBTKFL"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'G-HVYZBBTKFL');
   </script>

   <!-- Yandex.Metrika counter -->
   <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(88710367, "init", {
           clickmap:true,
           trackLinks:true,
           accurateTrackBounce:true,
           webvisor:true
      });
   </script>
   <noscript><div><img src="https://mc.yandex.ru/watch/88710367" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
   <!-- /Yandex.Metrika counter -->

    <!-- Yandex.RTB -->
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
    <!-- /Yandex.RTB -->
</head>
